
<div class="container">
    <div class="row">
      <div class="col">
        <div>
          {{indice + 1}}: {{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}} {{empleadoDeLista.cargo}} {{empleadoDeLista.salario}}

          <!-- routerLink sirve para enrutar a donde se especifique, o sea redirigir al componente que se quiera usar -->
          <!-- queryParams para pasar el valor que vamos a identificarlo con una variable, en este caso accion -->
          <a [routerLink]="['/actualiza', indice]" [queryParams]="{accion: '1'}">
            Modificar
          </a>
          &nbsp;
          <a [routerLink]="['/actualiza', indice]" [queryParams]="{accion: '2'}">
            Eliminar
          </a>
        </div>
        <ul style="list-style:none;">
          <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
        </ul>
        <app-caracteristicas-empleado-c (caracteristicaEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleado-c>
      </div>
    </div> 
  </div>
