<form class="form-group row">
    <div class="form-group col-md-3">
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control" [(ngModel)] = "nombre"/>
    </div>
    <div class="form-group col-md-3">
      <label for="apellido">Apellido:</label>
      <input type="text" name="apellido" id="apellido" placeholder="apellido" class="form-control" [(ngModel)] = "apellido"/>
    </div>     
    <div class="form-group col-md-3">  
      <label for="cargo">Cargo:</label> 
      <input type="text" name="cargo" id="cargo" placeholder="cargo" class="form-control" [(ngModel)] = "cargo"/>
    </div>
    <div class="form-group col-md-3">  
      <label for="salario">Salario:</label>
      <input type="text" name="salario" id="salario" placeholder="salario" class="form-control" [(ngModel)] = "salario"/>
    </div>
    <div class="col">
      <input type="submit" class="btn btn-primary" value="Modificar empleado" (click)="modificarEmpleado()" style="margin-top: 2em; margin-right: 1em;"/>
      <input type="submit" class="btn btn-primary" value="Eliminar empleado" (click)="eliminarEmpleado()" style="margin-top: 2em;"/>
    </div>
    
  </form>
  
<div style="text-align:center">
    <button class="btn btn-primary" (click)="volverAlHome()">Ir a Home</button>
</div>